<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<style type="text/css">
			body {
				background-color: #2A2627;
				margin: 20px; 
			}
			h1 {
				color: white;
			}
		</style>
		<link th:href="@{webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet"/>
		
	</head>
	<body>
		
		
		<!-- <h1>Pagina de inicio</h1> -->
		
		<div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
            
            <!-- 
            <div class="jumbotron">
			  <h1 class="display-4">Hello, world!</h1>
			  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			  <hr class="my-4"/>
			  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</div>
             -->
            
           </div>
		
		
		<form th:action="@{/primerservlet/enviarPost}" method="post">
			<input type="text" name="modelo"/>
			<input type="submit" value="Enviar"/>
		</form>
		
		<a th:href="@{/primerservlet/obtenerModelos}" class="badge badge-info">Ver modelos</a>
		
		<ul th:each="vehiculo : ${vehiculos}">
			<li>
				<span th:text="${vehiculo.modelo}" style="color: white"></span>
			</li>
		</ul>
		
		<form th:action="@{/primerservlet/enviarMultiples}" method="post">
			<label for="listadoEquipos" style="color: white">Listado equipos</label>
			<br></br>
			
			<label for="equipo" style="color: white">Cañon</label>
			<input type="checkbox" name="equipo" id="equipo" value="cañon" />
			<br/>
			
			<label for="equipo1" style="color: white">Teclado</label>
			<input type="checkbox" name="equipo" id="equipo" value="teclado" />
			<br/>
			
			<label for="equipo2" style="color: white">Mouse</label>
			<input type="checkbox" name="equipo" id="equipo" value="mouse" />
			<br/>
			
			<input type="submit" value="Enviar" />
			
		</form>
		<br/>
		<form th:action="@{/seguridad/login}" method="post">
			<label for="">Correo</label>
			<input type="text" name="email"/>
			<label for="">Password</label>
			<input type="password" name="password"/>
			<input type="submit" value="Enviar"/>
			
		</form>
		<!-- si session.userLoggedIn es cierto se despliega el div si no no se despliega  -->
		<div th:if="${session.userLoggedIn}">
			<h1>Sí se logueo bien #BienHecho</h1>
		</div>
		
		<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		
		
	</body>
</html>